    --cds-spacing-01: .125rem;
    --cds-spacing-02: .25rem;
    --cds-spacing-03: .5rem;
    --cds-spacing-04: .75rem;
    --cds-spacing-05: 1rem;
    --cds-spacing-06: 1.5rem;
    --cds-spacing-07: 2rem;
    --cds-spacing-08: 2.5rem;
    --cds-spacing-09: 3rem;
    --cds-spacing-10: 4rem;
    --cds-spacing-11: 5rem;
    --cds-spacing-12: 6rem;
    --cds-spacing-13: 10rem;
    --cds-fluid-spacing-01: 0;
    --cds-fluid-spacing-02: 2vw;
    --cds-fluid-spacing-03: 5vw;
    --cds-fluid-spacing-04: 10vw;
    --cds-caption-01-font-size: .75rem;
    --cds-caption-01-font-weight: 400;
    --cds-caption-01-line-height: 1.33333;
    --cds-caption-01-letter-spacing: .32px;
    --cds-caption-02-font-size: .875rem;
    --cds-caption-02-font-weight: 400;
    --cds-caption-02-line-height: 1.28572;
    --cds-caption-02-letter-spacing: .32px;
    --cds-label-01-font-size: .75rem;
    --cds-label-01-font-weight: 400;
    --cds-label-01-line-height: 1.33333;
    --cds-label-01-letter-spacing: .32px;
    --cds-label-02-font-size: .875rem;
    --cds-label-02-font-weight: 400;
    --cds-label-02-line-height: 1.28572;
    --cds-label-02-letter-spacing: .16px;
    --cds-helper-text-01-font-size: .75rem;
    --cds-helper-text-01-line-height: 1.33333;
    --cds-helper-text-01-letter-spacing: .32px;
    --cds-helper-text-02-font-size: .875rem;
    --cds-helper-text-02-font-weight: 400;
    --cds-helper-text-02-line-height: 1.28572;
    --cds-helper-text-02-letter-spacing: .16px;
    --cds-body-short-01-font-size: .875rem;
    --cds-body-short-01-font-weight: 400;
    --cds-body-short-01-line-height: 1.28572;
    --cds-body-short-01-letter-spacing: .16px;
    --cds-body-short-02-font-size: 1rem;
    --cds-body-short-02-font-weight: 400;
    --cds-body-short-02-line-height: 1.375;
    --cds-body-short-02-letter-spacing: 0;
    --cds-body-long-01-font-size: .875rem;
    --cds-body-long-01-font-weight: 400;
    --cds-body-long-01-line-height: 1.42857;
    --cds-body-long-01-letter-spacing: .16px;
    --cds-body-long-02-font-size: 1rem;
    --cds-body-long-02-font-weight: 400;
    --cds-body-long-02-line-height: 1.5;
    --cds-body-long-02-letter-spacing: 0;
    --cds-code-01-font-family: "IBM Plex Mono", system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", monospace;
    --cds-code-01-font-size: .75rem;
    --cds-code-01-font-weight: 400;
    --cds-code-01-line-height: 1.33333;
    --cds-code-01-letter-spacing: .32px;
    --cds-code-02-font-family: "IBM Plex Mono", system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", monospace;
    --cds-code-02-font-size: .875rem;
    --cds-code-02-font-weight: 400;
    --cds-code-02-line-height: 1.42857;
    --cds-code-02-letter-spacing: .32px;
    --cds-heading-01-font-size: .875rem;
    --cds-heading-01-font-weight: 600;
    --cds-heading-01-line-height: 1.42857;
    --cds-heading-01-letter-spacing: .16px;
    --cds-heading-02-font-size: 1rem;
    --cds-heading-02-font-weight: 600;
    --cds-heading-02-line-height: 1.5;
    --cds-heading-02-letter-spacing: 0;
    --cds-productive-heading-01-font-size: .875rem;
    --cds-productive-heading-01-font-weight: 600;
    --cds-productive-heading-01-line-height: 1.28572;
    --cds-productive-heading-01-letter-spacing: .16px;
    --cds-productive-heading-02-font-size: 1rem;
    --cds-productive-heading-02-font-weight: 600;
    --cds-productive-heading-02-line-height: 1.375;
    --cds-productive-heading-02-letter-spacing: 0;
    --cds-productive-heading-03-font-size: 1.25rem;
    --cds-productive-heading-03-font-weight: 400;
    --cds-productive-heading-03-line-height: 1.4;
    --cds-productive-heading-03-letter-spacing: 0;
    --cds-productive-heading-04-font-size: 1.75rem;
    --cds-productive-heading-04-font-weight: 400;
    --cds-productive-heading-04-line-height: 1.28572;
    --cds-productive-heading-04-letter-spacing: 0;
    --cds-productive-heading-05-font-size: 2rem;
    --cds-productive-heading-05-font-weight: 400;
    --cds-productive-heading-05-line-height: 1.25;
    --cds-productive-heading-05-letter-spacing: 0;
    --cds-productive-heading-06-font-size: 2.625rem;
    --cds-productive-heading-06-font-weight: 300;
    --cds-productive-heading-06-line-height: 1.199;
    --cds-productive-heading-06-letter-spacing: 0;
    --cds-productive-heading-07-font-size: 3.375rem;
    --cds-productive-heading-07-font-weight: 300;
    --cds-productive-heading-07-line-height: 1.19;
    --cds-productive-heading-07-letter-spacing: 0;
    --cds-expressive-paragraph-01-font-size: 1.5rem;
    --cds-expressive-paragraph-01-font-weight: 300;
    --cds-expressive-paragraph-01-line-height: 1.334;
    --cds-expressive-paragraph-01-letter-spacing: 0;
    --cds-expressive-heading-01-font-size: .875rem;
    --cds-expressive-heading-01-font-weight: 600;
    --cds-expressive-heading-01-line-height: 1.42857;
    --cds-expressive-heading-01-letter-spacing: .16px;
    --cds-expressive-heading-02-font-size: 1rem;
    --cds-expressive-heading-02-font-weight: 600;
    --cds-expressive-heading-02-line-height: 1.5;
    --cds-expressive-heading-02-letter-spacing: 0;
    --cds-expressive-heading-03-font-size: 1.25rem;
    --cds-expressive-heading-03-font-weight: 400;
    --cds-expressive-heading-03-line-height: 1.4;
    --cds-expressive-heading-03-letter-spacing: 0;
    --cds-expressive-heading-04-font-size: 1.75rem;
    --cds-expressive-heading-04-font-weight: 400;
    --cds-expressive-heading-04-line-height: 1.28572;
    --cds-expressive-heading-04-letter-spacing: 0;
    --cds-expressive-heading-05-font-size: 2rem;
    --cds-expressive-heading-05-font-weight: 400;
    --cds-expressive-heading-05-line-height: 1.25;
    --cds-expressive-heading-05-letter-spacing: 0;
    --cds-expressive-heading-06-font-size: 2rem;
    --cds-expressive-heading-06-font-weight: 600;
    --cds-expressive-heading-06-line-height: 1.25;
    --cds-expressive-heading-06-letter-spacing: 0;
    --cds-quotation-01-font-family: "IBM Plex Serif", system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", serif;
    --cds-quotation-01-font-size: 1.25rem;
    --cds-quotation-01-font-weight: 400;
    --cds-quotation-01-line-height: 1.3;
    --cds-quotation-01-letter-spacing: 0;
    --cds-quotation-02-font-family: "IBM Plex Serif", system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", serif;
    --cds-quotation-02-font-size: 2rem;
    --cds-quotation-02-font-weight: 300;
    --cds-quotation-02-line-height: 1.25;
    --cds-quotation-02-letter-spacing: 0;
    --cds-display-01-font-size: 2.625rem;
    --cds-display-01-font-weight: 300;
    --cds-display-01-line-height: 1.19;
    --cds-display-01-letter-spacing: 0;
    --cds-display-02-font-size: 2.625rem;
    --cds-display-02-font-weight: 600;
    --cds-display-02-line-height: 1.19;
    --cds-display-02-letter-spacing: 0;
    --cds-display-03-font-size: 2.625rem;
    --cds-display-03-font-weight: 300;
    --cds-display-03-line-height: 1.19;
    --cds-display-03-letter-spacing: 0;
    --cds-display-04-font-size: 2.625rem;
    --cds-display-04-font-weight: 300;
    --cds-display-04-line-height: 1.19;
    --cds-display-04-letter-spacing: 0;
    --cds-legal-01-font-size: .75rem;
    --cds-legal-01-font-weight: 400;
    --cds-legal-01-line-height: 1.33333;
    --cds-legal-01-letter-spacing: .32px;
    --cds-legal-02-font-size: .875rem;
    --cds-legal-02-font-weight: 400;
    --cds-legal-02-line-height: 1.28572;
    --cds-legal-02-letter-spacing: .16px;
    --cds-body-compact-01-font-size: .875rem;
    --cds-body-compact-01-font-weight: 400;
    --cds-body-compact-01-line-height: 1.28572;
    --cds-body-compact-01-letter-spacing: .16px;
    --cds-body-compact-02-font-size: 1rem;
    --cds-body-compact-02-font-weight: 400;
    --cds-body-compact-02-line-height: 1.375;
    --cds-body-compact-02-letter-spacing: 0;
    --cds-heading-compact-01-font-size: .875rem;
    --cds-heading-compact-01-font-weight: 600;
    --cds-heading-compact-01-line-height: 1.28572;
    --cds-heading-compact-01-letter-spacing: .16px;
    --cds-heading-compact-02-font-size: 1rem;
    --cds-heading-compact-02-font-weight: 600;
    --cds-heading-compact-02-line-height: 1.375;
    --cds-heading-compact-02-letter-spacing: 0;
    --cds-body-01-font-size: .875rem;
    --cds-body-01-font-weight: 400;
    --cds-body-01-line-height: 1.42857;
    --cds-body-01-letter-spacing: .16px;
    --cds-body-02-font-size: 1rem;
    --cds-body-02-font-weight: 400;
    --cds-body-02-line-height: 1.5;
    --cds-body-02-letter-spacing: 0;
    --cds-heading-03-font-size: 1.25rem;
    --cds-heading-03-font-weight: 400;
    --cds-heading-03-line-height: 1.4;
    --cds-heading-03-letter-spacing: 0;
    --cds-heading-04-font-size: 1.75rem;
    --cds-heading-04-font-weight: 400;
    --cds-heading-04-line-height: 1.28572;
    --cds-heading-04-letter-spacing: 0;
    --cds-heading-05-font-size: 2rem;
    --cds-heading-05-font-weight: 400;
    --cds-heading-05-line-height: 1.25;
    --cds-heading-05-letter-spacing: 0;
    --cds-heading-06-font-size: 2.625rem;
    --cds-heading-06-font-weight: 300;
    --cds-heading-06-line-height: 1.199;
    --cds-heading-06-letter-spacing: 0;
    --cds-heading-07-font-size: 3.375rem;
    --cds-heading-07-font-weight: 300;
    --cds-heading-07-line-height: 1.19;
    --cds-heading-07-letter-spacing: 0;
    --cds-fluid-heading-03-font-size: 1.25rem;
    --cds-fluid-heading-03-font-weight: 400;
    --cds-fluid-heading-03-line-height: 1.4;
    --cds-fluid-heading-03-letter-spacing: 0;
    --cds-fluid-heading-04-font-size: 1.75rem;
    --cds-fluid-heading-04-font-weight: 400;
    --cds-fluid-heading-04-line-height: 1.28572;
    --cds-fluid-heading-04-letter-spacing: 0;
    --cds-fluid-heading-05-font-size: 2rem;
    --cds-fluid-heading-05-font-weight: 400;
    --cds-fluid-heading-05-line-height: 1.25;
    --cds-fluid-heading-05-letter-spacing: 0;
    --cds-fluid-heading-06-font-size: 2rem;
    --cds-fluid-heading-06-font-weight: 600;
    --cds-fluid-heading-06-line-height: 1.25;
    --cds-fluid-heading-06-letter-spacing: 0;
    --cds-fluid-paragraph-01-font-size: 1.5rem;
    --cds-fluid-paragraph-01-font-weight: 300;
    --cds-fluid-paragraph-01-line-height: 1.334;
    --cds-fluid-paragraph-01-letter-spacing: 0;
    --cds-fluid-quotation-01-font-family: "IBM Plex Serif", system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", serif;
    --cds-fluid-quotation-01-font-size: 1.25rem;
    --cds-fluid-quotation-01-font-weight: 400;
    --cds-fluid-quotation-01-line-height: 1.3;
    --cds-fluid-quotation-01-letter-spacing: 0;
    --cds-fluid-quotation-02-font-family: "IBM Plex Serif", system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", serif;
    --cds-fluid-quotation-02-font-size: 2rem;
    --cds-fluid-quotation-02-font-weight: 300;
    --cds-fluid-quotation-02-line-height: 1.25;
    --cds-fluid-quotation-02-letter-spacing: 0;
    --cds-fluid-display-01-font-size: 2.625rem;
    --cds-fluid-display-01-font-weight: 300;
    --cds-fluid-display-01-line-height: 1.19;
    --cds-fluid-display-01-letter-spacing: 0;
    --cds-fluid-display-02-font-size: 2.625rem;
    --cds-fluid-display-02-font-weight: 600;
    --cds-fluid-display-02-line-height: 1.19;
    --cds-fluid-display-02-letter-spacing: 0;
    --cds-fluid-display-03-font-size: 2.625rem;
    --cds-fluid-display-03-font-weight: 300;
    --cds-fluid-display-03-line-height: 1.19;
    --cds-fluid-display-03-letter-spacing: 0;
    --cds-fluid-display-04-font-size: 2.625rem;
    --cds-fluid-display-04-font-weight: 300;
    --cds-fluid-display-04-line-height: 1.19;
    --cds-fluid-display-04-letter-spacing: 0;
    --ibm-automation-cds-layer: var(--ibm-automation-cds-layer-01,#f4f4f4);
    --ibm-automation-cds-layer-active: var(--ibm-automation-cds-layer-active-01,#c6c6c6);
    --ibm-automation-cds-layer-background: var(--ibm-automation-cds-layer-background-01,#fff);
    --ibm-automation-cds-layer-hover: var(--ibm-automation-cds-layer-hover-01,#e8e8e8);
    --ibm-automation-cds-layer-selected: var(--ibm-automation-cds-layer-selected-01,#e0e0e0);
    --ibm-automation-cds-layer-selected-hover: var(--ibm-automation-cds-layer-selected-hover-01,#d1d1d1);
    --ibm-automation-cds-layer-accent: var(--ibm-automation-cds-layer-accent-01,#e0e0e0);
    --ibm-automation-cds-layer-accent-hover: var(--ibm-automation-cds-layer-accent-hover-01,#d1d1d1);
    --ibm-automation-cds-layer-accent-active: var(--ibm-automation-cds-layer-accent-active-01,#a8a8a8);
    --ibm-automation-cds-field: var(--ibm-automation-cds-field-01,#f4f4f4);
    --ibm-automation-cds-field-hover: var(--ibm-automation-cds-field-hover-01,#e8e8e8);
    --ibm-automation-cds-border-subtle: var(--ibm-automation-cds-border-subtle-00,#e0e0e0);
    --ibm-automation-cds-border-subtle-selected: var(--ibm-automation-cds-border-subtle-selected-01,#c6c6c6);
    --ibm-automation-cds-border-strong: var(--ibm-automation-cds-border-strong-01,#8d8d8d);
    --ibm-automation-cds-border-tile: var(--ibm-automation-cds-border-tile-01,#c6c6c6);
    --ibm-automation-cds-layout-size-height-xs: 1.5rem;
    --ibm-automation-cds-layout-size-height-sm: 2rem;
    --ibm-automation-cds-layout-size-height-md: 2.5rem;
    --ibm-automation-cds-layout-size-height-lg: 3rem;
    --ibm-automation-cds-layout-size-height-xl: 4rem;
    --ibm-automation-cds-layout-size-height-2xl: 5rem;
    --ibm-automation-cds-layout-size-height-min: 0px;
    --ibm-automation-cds-layout-size-height-max: 1000000000px;
    --ibm-automation-cds-layout-density-padding-inline-condensed: .5rem;
    --ibm-automation-cds-layout-density-padding-inline-normal: 1rem;
    --ibm-automation-cds-layout-density-padding-inline-min: 0px;
    --ibm-automation-cds-layout-density-padding-inline-max: 1000000000px;
    --dot-radius: 2px;
    --border-radius: 10px;
    --sidebar-height: calc(100vh - 48px);
    --chat-container-height: calc(100vh - 89px);
    --cds-layout-size-height-xs: 1.5rem;
    --cds-layout-size-height-sm: 2rem;
    --cds-layout-size-height-md: 2.5rem;
    --cds-layout-size-height-lg: 3rem;
    --cds-layout-size-height-xl: 4rem;
    --cds-layout-size-height-2xl: 5rem;
    --cds-layout-size-height-min: 0px;
    --cds-layout-size-height-max: 999999999px;
    --cds-layout-density-padding-inline-condensed: .5rem;
    --cds-layout-density-padding-inline-normal: 1rem;
    --cds-layout-density-padding-inline-min: 0px;
    --cds-layout-density-padding-inline-max: 999999999px;
    --cds-grid-margin: 1rem;
    --c4p--page-header--tagset-tooltip-position: fixed;
    --c4p--page-header--tagset-tooltip-offset: 80px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: var(--cds-text-primary);
    --cds-ai-aura-end: #fff0;
    --cds-ai-aura-hover-background: #edf5ff;
    --cds-ai-aura-hover-end: #fff0;
    --cds-ai-aura-hover-start: #4589ff52;
    --cds-ai-aura-start: #4589ff1a;
    --cds-ai-aura-start-sm: #4589ff29;
    --cds-ai-border-end: #78a9ff;
    --cds-ai-border-start: #a6c8ffa3;
    --cds-ai-border-strong: #4589ff;
    --cds-ai-drop-shadow: #0f62fe1a;
    --cds-ai-inner-shadow: #4589ff1a;
    --cds-ai-overlay: #00114180;
    --cds-ai-popover-background: #fff;
    --cds-ai-popover-caret-bottom: #78a9ff;
    --cds-ai-popover-caret-bottom-background: #eaf1ff;
    --cds-ai-popover-caret-bottom-background-actions: #e9effa;
    --cds-ai-popover-caret-center: #a0c3ff;
    --cds-ai-popover-shadow-outer-01: #0043ce0f;
    --cds-ai-popover-shadow-outer-02: #0000000a;
    --cds-ai-skeleton-background: #d0e2ff;
    --cds-ai-skeleton-element-background: #4589ff;
    --cds-background: #f4f4f4;
    --cds-background-active: #8d8d8d80;
    --cds-background-brand: #0f62fe;
    --cds-background-hover: #8d8d8d1f;
    --cds-background-inverse: #393939;
    --cds-background-inverse-hover: #474747;
    --cds-background-selected: #8d8d8d33;
    --cds-background-selected-hover: #8d8d8d52;
    --cds-border-disabled: #c6c6c6;
    --cds-border-interactive: #0f62fe;
    --cds-border-inverse: #161616;
    --cds-border-strong-01: #8d8d8d;
    --cds-border-strong-02: #8d8d8d;
    --cds-border-strong-03: #8d8d8d;
    --cds-border-subtle-00: #c6c6c6;
    --cds-border-subtle-01: #e0e0e0;
    --cds-border-subtle-02: #c6c6c6;
    --cds-border-subtle-03: #e0e0e0;
    --cds-border-subtle-selected-01: #c6c6c6;
    --cds-border-subtle-selected-02: #c6c6c6;
    --cds-border-subtle-selected-03: #c6c6c6;
    --cds-border-tile-01: #a8a8a8;
    --cds-border-tile-02: #c6c6c6;
    --cds-border-tile-03: #a8a8a8;
    --cds-chat-avatar-agent: #393939;
    --cds-chat-avatar-bot: #6f6f6f;
    --cds-chat-avatar-user: #0f62fe;
    --cds-chat-bubble-agent: #fff;
    --cds-chat-bubble-agent-text: #161616;
    --cds-chat-bubble-border: #e0e0e0;
    --cds-chat-bubble-user: #e0e0e0;
    --cds-chat-bubble-user-text: #161616;
    --cds-chat-button: #0f62fe;
    --cds-chat-button-active: #8d8d8d80;
    --cds-chat-button-hover: #8d8d8d1f;
    --cds-chat-button-selected: #8d8d8d33;
    --cds-chat-button-text-hover: #0043ce;
    --cds-chat-button-text-selected: #525252;
    --cds-chat-header-background: #fff;
    --cds-chat-header-text: #161616;
    --cds-chat-prompt-background: #fff;
    --cds-chat-prompt-border-end: #f4f4f400;
    --cds-chat-prompt-border-start: #f4f4f4;
    --cds-chat-prompt-text: #161616;
    --cds-chat-shell-background: #fff;
    --cds-color-scheme: light;
    color-scheme: var(--cds-color-scheme, light);
    --cds-field-01: #fff;
    --cds-field-02: #f4f4f4;
    --cds-field-03: #fff;
    --cds-field-hover-01: #e8e8e8;
    --cds-field-hover-02: #e8e8e8;
    --cds-field-hover-03: #e8e8e8;
    --cds-focus: #0f62fe;
    --cds-focus-inset: #fff;
    --cds-focus-inverse: #fff;
    --cds-highlight: #d0e2ff;
    --cds-icon-disabled: #16161640;
    --cds-icon-interactive: #0f62fe;
    --cds-icon-inverse: #fff;
    --cds-icon-on-color: #fff;
    --cds-icon-on-color-disabled: #8d8d8d;
    --cds-icon-primary: #161616;
    --cds-icon-secondary: #525252;
    --cds-interactive: #0f62fe;
    --cds-layer-01: #fff;
    --cds-layer-02: #f4f4f4;
    --cds-layer-03: #fff;
    --cds-layer-accent-01: #e0e0e0;
    --cds-layer-accent-02: #e0e0e0;
    --cds-layer-accent-03: #e0e0e0;
    --cds-layer-accent-active-01: #a8a8a8;
    --cds-layer-accent-active-02: #a8a8a8;
    --cds-layer-accent-active-03: #a8a8a8;
    --cds-layer-accent-hover-01: #d1d1d1;
    --cds-layer-accent-hover-02: #d1d1d1;
    --cds-layer-accent-hover-03: #d1d1d1;
    --cds-layer-active-01: #c6c6c6;
    --cds-layer-active-02: #c6c6c6;
    --cds-layer-active-03: #c6c6c6;
    --cds-layer-background-01: #f4f4f4;
    --cds-layer-background-02: #fff;
    --cds-layer-background-03: #f4f4f4;
    --cds-layer-hover-01: #e8e8e8;
    --cds-layer-hover-02: #e8e8e8;
    --cds-layer-hover-03: #e8e8e8;
    --cds-layer-selected-01: #e0e0e0;
    --cds-layer-selected-02: #e0e0e0;
    --cds-layer-selected-03: #e0e0e0;
    --cds-layer-selected-disabled: #8d8d8d;
    --cds-layer-selected-hover-01: #d1d1d1;
    --cds-layer-selected-hover-02: #d1d1d1;
    --cds-layer-selected-hover-03: #d1d1d1;
    --cds-layer-selected-inverse: #161616;
    --cds-link-inverse: #78a9ff;
    --cds-link-inverse-active: #f4f4f4;
    --cds-link-inverse-hover: #a6c8ff;
    --cds-link-inverse-visited: #be95ff;
    --cds-link-primary: #0f62fe;
    --cds-link-primary-hover: #0043ce;
    --cds-link-secondary: #0043ce;
    --cds-link-visited: #8a3ffc;
    --cds-overlay: #0009;
    --cds-shadow: #0000004d;
    --cds-skeleton-background: #e8e8e8;
    --cds-skeleton-element: #c6c6c6;
    --cds-support-caution-major: #ff832b;
    --cds-support-caution-minor: #f1c21b;
    --cds-support-caution-undefined: #8a3ffc;
    --cds-support-error: #da1e28;
    --cds-support-error-inverse: #fa4d56;
    --cds-support-info: #0043ce;
    --cds-support-info-inverse: #4589ff;
    --cds-support-success: #24a148;
    --cds-support-success-inverse: #42be65;
    --cds-support-warning: #f1c21b;
    --cds-support-warning-inverse: #f1c21b;
    --cds-syntax-angle-bracket: #697077;
    --cds-syntax-annotation: #007d79;
    --cds-syntax-arithmetic-operator: #343a3f;
    --cds-syntax-atom: #161616;
    --cds-syntax-attribute: #00539a;
    --cds-syntax-attribute-name: #00539a;
    --cds-syntax-attribute-value: #161616;
    --cds-syntax-bitwise-operator: #343a3f;
    --cds-syntax-block-comment: #198038;
    --cds-syntax-bool: #161616;
    --cds-syntax-brace: #343a3f;
    --cds-syntax-bracket: #343a3f;
    --cds-syntax-character: #161616;
    --cds-syntax-class-name: #007d79;
    --cds-syntax-color: #161616;
    --cds-syntax-comment: #198038;
    --cds-syntax-compare-operator: #343a3f;
    --cds-syntax-constant: #0f62fe;
    --cds-syntax-content: #161616;
    --cds-syntax-content-separator: #343a3f;
    --cds-syntax-control-keyword: #6929c4;
    --cds-syntax-control-operator: #6929c4;
    --cds-syntax-definition: #00539a;
    --cds-syntax-definition-keyword: #00539a;
    --cds-syntax-definition-operator: #00539a;
    --cds-syntax-deleted: #ffd7d9;
    --cds-syntax-deref-operator: #343a3f;
    --cds-syntax-doc-comment: #198038;
    --cds-syntax-doc-string: #161616;
    --cds-syntax-document-meta: #198038;
    --cds-syntax-emphasis: #161616;
    --cds-syntax-escape: #343a3f;
    --cds-syntax-float: #198038;
    --cds-syntax-function: #8e6a00;
    --cds-syntax-heading: #00539a;
    --cds-syntax-heading-1: #00539a;
    --cds-syntax-heading-2: #00539a;
    --cds-syntax-heading-3: #00539a;
    --cds-syntax-heading-4: #00539a;
    --cds-syntax-heading-5: #00539a;
    --cds-syntax-heading-6: #00539a;
    --cds-syntax-inserted: #a7f0ba;
    --cds-syntax-integer: #198038;
    --cds-syntax-invalid: #da1e28;
    --cds-syntax-keyword: #0f62fe;
    --cds-syntax-label-name: #0f62fe;
    --cds-syntax-line-comment: #198038;
    --cds-syntax-link: #0f62fe;
    --cds-syntax-list: #161616;
    --cds-syntax-literal: #161616;
    --cds-syntax-local: #0f62fe;
    --cds-syntax-logic-operator: #343a3f;
    --cds-syntax-macro-name: #161616;
    --cds-syntax-meta: #198038;
    --cds-syntax-modifier: #0f62fe;
    --cds-syntax-module-keyword: #6929c4;
    --cds-syntax-monospace: #161616;
    --cds-syntax-name: #0f62fe;
    --cds-syntax-namespace: #007d79;
    --cds-syntax-null: #161616;
    --cds-syntax-number: #198038;
    --cds-syntax-operator: #343a3f;
    --cds-syntax-operator-keyword: #0f62fe;
    --cds-syntax-paren: #343a3f;
    --cds-syntax-processing-instruction: #161616;
    --cds-syntax-property-name: #00539a;
    --cds-syntax-punctuation: #343a3f;
    --cds-syntax-quote: #198038;
    --cds-syntax-regexp: #6929c4;
    --cds-syntax-self: #007d79;
    --cds-syntax-separator: #343a3f;
    --cds-syntax-special: #0f62fe;
    --cds-syntax-special-string: #8a3ffc;
    --cds-syntax-square-bracket: #343a3f;
    --cds-syntax-standard: #0f62fe;
    --cds-syntax-strikethrough: #161616;
    --cds-syntax-string: #161616;
    --cds-syntax-strong: #161616;
    --cds-syntax-tag: #007d79;
    --cds-syntax-tag-name: #007d79;
    --cds-syntax-type: #007d79;
    --cds-syntax-type-name: #007d79;
    --cds-syntax-type-operator: #007d79;
    --cds-syntax-unit: #198038;
    --cds-syntax-update-operator: #343a3f;
    --cds-syntax-url: #343a3f;
    --cds-syntax-variable: #0f62fe;
    --cds-syntax-variable-name: #0f62fe;
    --cds-text-disabled: #16161640;
    --cds-text-error: #da1e28;
    --cds-text-helper: #6f6f6f;
    --cds-text-inverse: #fff;
    --cds-text-on-color: #fff;
    --cds-text-on-color-disabled: #8d8d8d;
    --cds-text-placeholder: #16161666;
    --cds-text-primary: #161616;
    --cds-text-secondary: #525252;
    --cds-toggle-off: #8d8d8d;
    --cds-button-separator: #e0e0e0;
    --cds-button-primary: #0f62fe;
    --cds-button-secondary: #393939;
    --cds-button-tertiary: #0f62fe;
    --cds-button-danger-primary: #da1e28;
    --cds-button-danger-secondary: #da1e28;
    --cds-button-danger-active: #750e13;
    --cds-button-primary-active: #002d9c;
    --cds-button-secondary-active: #6f6f6f;
    --cds-button-tertiary-active: #002d9c;
    --cds-button-danger-hover: #b81921;
    --cds-button-primary-hover: #0050e6;
    --cds-button-secondary-hover: #474747;
    --cds-button-tertiary-hover: #0050e6;
    --cds-button-disabled: #c6c6c6;
    --cds-notification-background-error: #fff1f1;
    --cds-notification-background-success: #defbe6;
    --cds-notification-background-info: #edf5ff;
    --cds-notification-background-warning: #fcf4d6;
    --cds-notification-action-hover: #fff;
    --cds-notification-action-tertiary-inverse: #fff;
    --cds-notification-action-tertiary-inverse-active: #c6c6c6;
    --cds-notification-action-tertiary-inverse-hover: #f4f4f4;
    --cds-notification-action-tertiary-inverse-text: #161616;
    --cds-notification-action-tertiary-inverse-text-on-color-disabled: #ffffff40;
    --cds-tag-background-red: #ffd7d9;
    --cds-tag-color-red: #a2191f;
    --cds-tag-hover-red: #ffc2c5;
    --cds-tag-background-magenta: #ffd6e8;
    --cds-tag-color-magenta: #9f1853;
    --cds-tag-hover-magenta: #ffbdda;
    --cds-tag-background-purple: #e8daff;
    --cds-tag-color-purple: #6929c4;
    --cds-tag-hover-purple: #dcc7ff;
    --cds-tag-background-blue: #d0e2ff;
    --cds-tag-color-blue: #0043ce;
    --cds-tag-hover-blue: #b8d3ff;
    --cds-tag-background-cyan: #bae6ff;
    --cds-tag-color-cyan: #00539a;
    --cds-tag-hover-cyan: #99daff;
    --cds-tag-background-teal: #9ef0f0;
    --cds-tag-color-teal: #005d5d;
    --cds-tag-hover-teal: #57e5e5;
    --cds-tag-background-green: #a7f0ba;
    --cds-tag-color-green: #0e6027;
    --cds-tag-hover-green: #74e792;
    --cds-tag-background-gray: #e0e0e0;
    --cds-tag-color-gray: #161616;
    --cds-tag-hover-gray: #d1d1d1;
    --cds-tag-border-red: #ff8389;
    --cds-tag-border-blue: #78a9ff;
    --cds-tag-border-cyan: #33b1ff;
    --cds-tag-border-teal: #08bdba;
    --cds-tag-border-green: #42be65;
    --cds-tag-border-magenta: #ff7eb6;
    --cds-tag-border-purple: #be95ff;
    --cds-tag-border-gray: #a8a8a8;
    --cds-tag-border-cool-gray: #a2a9b0;
    --cds-tag-border-warm-gray: #ada8a8;
    --cds-tag-background-cool-gray: #dde1e6;
    --cds-tag-color-cool-gray: #121619;
    --cds-tag-hover-cool-gray: #cdd3da;
    --cds-tag-background-warm-gray: #e5e0df;
    --cds-tag-color-warm-gray: #171414;
    --cds-tag-hover-warm-gray: #d8d0cf;
    --cds-status-red: #da1e28;
    --cds-status-orange: #ff832b;
    --cds-status-orange-outline: #ba4e00;
    --cds-status-yellow: #f1c21b;
    --cds-status-yellow-outline: #8e6a00;
    --cds-status-green: #24a148;
    --cds-status-blue: #0043ce;
    --cds-status-purple: #8a3ffc;
    --cds-status-gray: #6f6f6f;
    --cds-content-switcher-background: #e0e0e0;
    --cds-content-switcher-background-hover: #d1d1d1;
    --cds-content-switcher-selected: #fff;
    --cds-layer: var(--cds-layer-01, #f4f4f4);
    --cds-layer-active: var(--cds-layer-active-01, #c6c6c6);
    --cds-layer-background: var(--cds-layer-background-01, #ffffff);
    --cds-layer-hover: var(--cds-layer-hover-01, #e8e8e8);
    --cds-layer-selected: var(--cds-layer-selected-01, #e0e0e0);
    --cds-layer-selected-hover: var(--cds-layer-selected-hover-01, #d1d1d1);
    --cds-layer-accent: var(--cds-layer-accent-01, #e0e0e0);
    --cds-layer-accent-hover: var(--cds-layer-accent-hover-01, #d1d1d1);
    --cds-layer-accent-active: var(--cds-layer-accent-active-01, #a8a8a8);
    --cds-field: var(--cds-field-01, #f4f4f4);
    --cds-field-hover: var(--cds-field-hover-01, #e8e8e8);
    --cds-border-subtle: var(--cds-border-subtle-00, #e0e0e0);
    --cds-border-subtle-selected: var(--cds-border-subtle-selected-01, #c6c6c6);
    --cds-border-strong: var(--cds-border-strong-01, #8d8d8d);
    --cds-border-tile: var(--cds-border-tile-01, #c6c6c6);
    --cds-grid-gutter-start: calc(var(--cds-grid-gutter) / 2);
    --cds-grid-gutter-end: calc(var(--cds-grid-gutter) / 2);
    --cds-grid-gutter: .0625rem;
    --cds-grid-column-hang: .96875rem;
    --cds-grid-mode-start: var(--cds-grid-gutter-start);
    --cds-grid-mode-end: var(--cds-grid-gutter-end);
    --cds-grid-columns: 12;
    box-sizing: inherit;
    font: inherit;
    font-feature-settings: "liga" 1;
    vertical-align: baseline;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    display: flex;
    flex-direction: column;